/* for all body styles */
.fira-sans {
  font-family: "Fira sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: #f1f1f3;
  margin-right: 160px;
  margin-left: 160px;
}

/* header section styles */
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.nav-tittle {
  height: 38px;
  width: 222px;
  font-weight: bold;
  font-size: 32px;
}
.btn-sign {
  width: 116px;
  height: 52px;
  border: 1px solid #006a50;
  color: #006a50;
  padding: 15px 30px 15px 30px;
  font-size: 18;
  font-weight: 600;
  border-radius: 8px;
  text-wrap: nowrap;
  text-align: center;
  transition: 1s;
}

.btn-sign:hover {
  background-color: #c6e4d6;
}
.btn-sign::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.banner {
  display: flex;

  height: 560px;
  background-color: #c6e4d6;
  padding: 80px 100px;
  border-radius: 24px;
  gap: 64px;
  transition: 1s;
}
.banner:hover {
  background-color: #808180;
}
.banner::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.banner-content {
  margin-top: 117px;

  width: 622px;
  height: 326px;
}
.banner-greetings {
  height: 29px;
  color: #0e0e0e;
  opacity: 50%;
  font-size: 24;
}
.banner-tittle {
  font-weight: bold;
  font-size: 56;
  margin-bottom: 24px;
}
.btn-primary {
  background-color: #006a50;
  font-weight: 600;
  font-size: 24;
  color: white;
  border: none;
  padding: 17px 34px;
  border-radius: 8px;
  height: 56px;
  width: 270px;
  text-wrap: nowrap;
  margin-bottom: 117 px;
  transition: 1s;
}

.btn-primary:hover {
  background-color: #dc0000;
}
.btn-primary::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.monument {
  margin-left: 64px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 60px;
}

.banner-profile-pic {
  width: 474.03 px;
  height: 400px;
  position: relative;
}
