/* for all body styles */
.fira-sans {
  font-family: "Fira sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: #f1f1f3;
  margin-right: 160px;
  margin-left: 160px;
}

/* header section styles */
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.nav-tittle {
  height: 38px;
  width: 222px;
  font-weight: bold;
  font-size: 32px;
}
.btn-sign {
  width: 116px;
  height: 52px;
  border: 1px solid #006a50;
  color: #006a50;
  padding: 15px 30px 15px 30px;
  font-size: 18;
  font-weight: 600;
  border-radius: 8px;
  text-wrap: nowrap;
  text-align: center;
  transition: 1s;
}

.btn-sign:hover {
  background-color: #c6e4d6;
}
.btn-sign::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.banner {
  display: flex;

  height: 560px;
  background-color: #c6e4d6;
  padding: 80px 100px;
  border-radius: 24px;
  gap: 64px;
  transition: 1s;
}
.banner:hover {
  background-color: #808180;
}
.banner::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.banner-content {
  margin-top: 117px;

  width: 622px;
  height: 326px;
}
.banner-greetings {
  height: 29px;
  color: #0e0e0e;
  opacity: 50%;
  font-size: 24;
}
.banner-tittle {
  font-weight: bold;
  font-size: 56;
  margin-bottom: 24px;
}
.btn-primary {
  background-color: #006a50;
  font-weight: 600;
  font-size: 24;
  color: white;
  border: none;
  padding: 17px 34px;
  border-radius: 8px;
  height: 56px;
  width: 270px;
  text-wrap: nowrap;
  margin-bottom: 117 px;
  transition: 1s;
}

.btn-primary:hover {
  background-color: #dc0000;
}
.btn-primary::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.monument {
  margin-left: 64px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 60px;
}

.banner-profile-pic {
  width: 474.03 px;
  height: 400px;
  position: relative;
}
/* vision section styles */

.future-tittle {
  font-size: 40px;
  font-weight: bold;
}
.future-description {
  font-size: 16px;
  color: #0e0e0e;
  opacity: 70%;
}

.vision-container {
  display: flex;
  gap: 24px;
}

.box1,
.box2,
.box3 {
  transition: 1s;
  padding: 32px;
  border-radius: 16px;
  width: 410.67px;
  height: 325px;
}

.box1 {
  background-color: #d5e1f5;
}
.box1:hover {
  background-color: #4f96d3;
}

.box1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.box2 {
  background-color: #c6e4d6;
}
.box2:hover {
  background-color: #57db71;
}

.box2::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.box3 {
  background-color: #f7ebcf;
}
.box3:hover {
  background-color: #eeb758;
}

.box3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.vision-name {
  font-weight: bold;
  font-size: 20px;
}
.vision-description {
  font-size: 16px;
  color: #0e0e0e;
  opacity: 70%;
}

.btn-p {
  background-color: #5490f5;
  border-color: #5490f5;
}
.btn-q {
  background-color: #09a15c;

  border-color: #09a15c;
}
.btn-r {
  background-color: #ffc239;
  border-color: #ffc239;
}

.btn-p,
.btn-q,
.btn-r {
  color: #ffffff;
  margin-top: 48px;
  height: 41px;
  width: 122px;
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  border: none;
  transition: 1s;
}
.btn-p:hover {
  background-color: #000000;
}

.btn-p::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn-q:hover {
  background-color: #000000;
}

.btn-q::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn-r:hover {
  background-color: #000000;
}

.btn-r::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
/* quote section styles*/
.bg {
  background-image: url(./images/assets/quote-bg.png);
  background-repeat: no-repeat;
  padding-left: 9px;
  background-size: 64px 64px;
  background-color: #ffffff;
  background-position: left top;
  height: 256px;
  border-radius: 16px;
  padding: 48px 24px;
  transition: 1s;
}
.quote-section {
  margin-top: 32px;
}

.bg:hover {
  background-color: #c6e4d6;
}

.bg::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.quote {
  color: #0e0e0e;
  opacity: 80%;
  font-size: 16px;
}

.novel {
  margin-top: 12px;
  font-weight: 600;
  font-size: 20px;
}
.ca {
  font-size: 16px;
  color: #0e0e0e;
  opacity: 60%;
}
/* satelite-section styles */
.news-container {
  height: 120px;
  gap: 32px;
}

.news-tittle {
  font-size: 40px;
  font-weight: bold;
}
.news-description,
.satelite-description,
.time {
  font-size: 16px;
  color: #0e0e0e;
  opacity: 70%;
}
.satelite-description-box {
  width: 744px;
}

.satelite-font {
  height: 38px;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 12px;
  margin-top: 48px;
}
.al-jazeera {
  height: 40px;
  width: 134px;
  margin-bottom: 12px;
}
.time {
  margin-bottom: 12px;
}
.satelite-description {
  margin-bottom: 32px;
}

.news-box1 {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 32px;
  background-color: #ffffff;
  padding: 48px 48px;
  border-radius: 24px;
  height: 402px;
  transition: 1s;
}

.news-box1:hover {
  background-color: #c6e4d6;
}

.news-box1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.satelite-img {
  border-radius: 24px;
  width: 408px;
  height: 306px;
  gap: 10px;
}

.inline-text {
  display: inline-block;
  margin-right: 20px;
}

.btn-news {
  background-color: #006a50;
  color: #ffffff;
  gap: 48px;
  height: 48px;
  width: 139px;
  padding: 13px 26px 13px 26px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18;
  white-space: nowrap;
  border: none;
  margin-bottom: 56px;
  transition: 1s;
}
.btn-news:hover {
  background-color: #dc0000;
}
.btn-news::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.news-box2 {
  margin-top: 24px;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 32px;
  background-color: #ffffff;
  padding: 48px 48px;
  border-radius: 24px;
  height: 402px;
  transition: 1s;
}
.news-box2:hover {
  background-color: #c6e4d6;
}

.news-box2::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
/* donate-div-styles */
.donation-section-box {
  height: 464px;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.donation-tittle {
  font-weight: bold;
  text-align: center;
  justify-content: center;
  height: 48px;
  font-size: 40px;
}
.donation-description {
  height: 48px;
  margin-right: 176px;
  margin-left: 176px;
  margin-top: 24px;
  font-size: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #0e0e0e;
  opacity: 70%;
}
.donate-quantity-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 128px;
  width: 1071px;
  gap: 24px;
  margin-left: 104.5px;
  margin-right: 104.5px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.donate-amount-box {
  height: 128 px;
  width: 240 px;
  background-color: white;
  padding: 40px 40px 40px 40px;
  gap: 24px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  opacity: 80%;
  border-radius: 16px;
  transition: 1s;
}
.donate-amount-box:hover {
  background-color: #c6e4d6;
}
.donate-amount-box::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.donate-amount-box-selected {
  height: 128 px;
  width: 240 px;
  background-color: #c6e4d6;
  padding: 40px 40px 40px 40px;
  gap: 24px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  opacity: 80%;
  border-radius: 16px;
  transition: 1s;
}
.donate-amount-box-selected {
  background-color: #c6e4d6;
}
.donate-amount-box-selected::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

input[type="text"] {
  height: 64px;
  width: 900px;
  margin-top: 24px;

  border-color: #f5f5f5;
  padding: 2px 40px;
  border: none;

  transition: 1s;
}
.input-donation {
  width: 100%;

  text-align: center;

  transition: 1s;
}
.input-donation:hover {
  background-color: #c6e4d6;
}
.input-donation::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.d-c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-btn {
  background-color: #006a50;
  color: #ffffff;
  gap: 48px;
  height: 56px;
  width: 151px;
  padding: 17px 34px 17px 34px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18;
  white-space: nowrap;
  border: none;
  margin-top: 32px;
  transition: 1s;
}
.d-btn:hover {
  background-color: #dc0000;
}
.d-btn::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

/* challenge section styles */

.subscribe-box {
  background-color: #c6e4d6;
  border-radius: 24px;
  height: 395px;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 180px;
  transition: 1s;
}
.subscribe-box:hover {
  background-color: #808180;
}
.subscribe-box::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.subscribe-detail-box {
  height: 112px;
  width: 750px;
  text-align: center;
  justify-content: center;
}
.subscribe-tittle {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.subscribe-details {
  text-align: center;
  font-size: 16px;
  color: #0e0e0e;
  opacity: 70%;
}
.subscribe-input-box {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 18px 40px;
  margin-top: 24px;
}

input[type="email"] {
  height: 53px;
  width: 600px;
  margin-top: 24px;

  border-color: #f5f5f5;
  padding: 2px 40px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  transition: 1s;
}
input[type="email"]:hover {
  background-color: #c6e4d6;
}
input[type="email"]::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.s-btn {
  background-color: #006a50;
  color: #ffffff;
  gap: 48px;
  height: 56px;
  width: 150px;
  padding: 17px 34px;
  margin-top: 24px;
  font-weight: 600;
  font-size: 18;
  white-space: nowrap;
  text-align: center;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  transition: 1s;
}
.s-btn:hover {
  background-color: #dc0000;
}
.s-btn::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.last-line {
  margin-top: 24px;
  text-align: center;
  font-size: 16px;
  color: #0e0e0e;
  opacity: 70%;
}
